body{
	background: #bbcef1;
}
header, footer{
	background: #aaa8a4;
}
main{
	display: inline-block;
	margin-left: 25px;
}
.search-block-form, #block-mytheme-tools, #block-blogtitle ,#block-mytheme-views-block-blog-events-added-block-1{
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#sidebar-first{
	margin-top: 10px;
	float: left;
	width: 25%;
	
}
#sidebar-first li{
	display: list-item;
}
#sidebar-second{
	margin-top: 10px;
	float: right;
	width: 25%;
}
#block-mytheme-account-menu{
	margin-top: 10px;
	float: right;
	width: 15%;
}
#block-mytheme-branding img{
	width: 100px;
	height: 100px;
	float: left;
}

#block-mytheme-main-menu{
	margin-top: 3%;
}
#block-mytheme-main-menu li{
		margin-right: 15px;
		font-size: 20px;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;

}
.slogan{
	padding-top: 50px;
}
.warning{
	background: honeydew;
}
#block-mytheme-help{
	color: red;
}
.form-box{
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 35px;
	text-align: center;
}
label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}
input{
	width: 50%;
	padding: 8px 8px 8px 8px;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
}
input[type=submit]{
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 25%;
}
.webform-button--submit{
	margin-top: 20px;
	height: 40px;
}
a{
	text-decoration: none;
}
	ul{
	list-style: none;
}
li{
	display: inline;
	margin-right: 5px;
}
